---
layout: blog
title: "Blog"
group: "navigation"
order: 1
---


            <li><a class="active" href="/blog">All</a></li>
            <li><a href="/category/albums">Albums</a></li>
            <li><a href="/category/artists">Artists</a></li>
            <li><a href="/category/songs">Songs</a></li>
            <li><a href="/category/thoughts">Thoughts</a></li>
        </ul>
    </div>
</div>
<div class="Column Posts ThreeColumn">
    {% for post in site.posts %}
        {% include postPreview.html %}
    {% endfor %}