---
layout: page
description: "Breathing life into music reviews"
header-img: "img/skyline.jpg"
---

<div class="Welcome">
	<h1>Welcome to the Pulpit</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p>
</div>

<div class="home-wrap">
  <h1>Featured Articles</h1>
  <div class="ThreeColumn" id="featured-articles-container">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    
    {% if post.tags contains "featured" and counter < 3 %}
    {% assign counter = counter | plus: 1 %}
    <div class="clearfix Column article-cards recent-articles">
      <a class='post-link' href="{{ post.url }}">
        <div class="article-caption">
          <div class="holder">
            <div class="caption-content">
              <h4>{{ post.title }}</h4>
              <p>&nbsp;</p>
              <i>{{ post.categories }}</i>
            </div>
          </div>
        </div>
        <img src='{{ post.thumbnail }}' class="thumbnails"></a>
      </a>
      <br>
      
    </div>
    {% endif %}
  {% endfor %}
  </div>

<div class="home-wrap">
  <h1>Recent Articles</h1>
  <div class="ThreeColumn" id="recent-articles-container">
  {% for post in site.posts limit:3 %}
    <div class="clearfix Column article-cards recent-articles">
      <a class='post-link' href="{{ post.url }}">
        <div class="article-caption">
          <div class="holder">
            <div class="caption-content">
              <h4>{{ post.title }}</h4>
              <p>&nbsp;</p>
              <i>{{ post.categories }}</i>
            </div>
          </div>
        </div>
        <img src='{{ post.thumbnail }}' class="thumbnails"></a>
      </a>
      <br>
      
    </div>
  {% endfor %}
  </div>