---
layout: page
header-img: "img/skyline.jpg"
description: ""
---

<div class="Welcome">
	<h1>Welcome to The Pulpit</h1>
	<p>
		<p>Bringing you reviews of albums and songs from some of the best artists the mainstream doesn&rsquo;t know about</p>
	</p>
</div>

<div class="home-wrap Featured">
  <h1>Featured Articles</h1>
  <div class="ThreeColumn" id="featured-articles-container">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    {% if post.group contains "featured" and counter < 3 %}
    {% assign counter = counter | plus: 1 %}
    <div class="clearfix Column article-cards recent-articles">
      <a class='post-link' href="{{ post.url }}">
        <div class="article-caption">
          <div class="holder">
            <div class="caption-content">
              <h4>{{ post.title }}</h4>
              <p>&nbsp;</p>
              <i>{{ post.categories }}</i>
            </div>
          </div>
        </div>
        <img src='{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/img/P.png' }}{% endif %}' class="thumbnails" {% if post.thumbnail %}{% else %} style="margin-top: 10%"{% endif %}></a>
      </a>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="home-wrap Recent">
  <h1>Recent Articles</h1>
  <div class="ThreeColumn" id="recent-articles-container">
  {% for post in site.posts limit:3 %}
    <div class="clearfix Column article-cards recent-articles">
      <a class='post-link' href="{{ post.url }}">
        <div class="article-caption">
          <div class="holder">
            <div class="caption-content">
              <h4>{{ post.title }}</h4>
              <p>&nbsp;</p>
              <i>{{ post.categories }}</i>
            </div>
          </div>
        </div>
        <img src='{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ '/img/P.png' }}{% endif %}' class="thumbnails" {% if post.thumbnail %}{% else %} style="margin-top: 10%"{% endif %}></a>
      </a>
      <br>
      
    </div>
  {% endfor %}
</div>