---
layout: default
---
<div class="No-BG Blogport">
    <h1 class="Page-Title">Blog</h1>
    <div class="Listing-Page">

        <div class="Column">
            <div class="Local-Nav">
                <form action="/search" method="get" class="search">
                  <input type="text" id="search-box" name="query">
                  <button type="submit" value="search" aria-hidden="true">
                      <i class="fa fa-search"></i>
                  </button>
                </form>
                <h2>Categories</h2>
                <ul class="Categories">
                    {{ content }}
        </div>
    </div>
</div>